In [1]:
import sys
from metadata import *

In [2]:
CONFIG = {
    "handlers": [
        {"sink": sys.stdout, "level": "ERROR"},
        {"sink": "info.log", "level": "INFO"},
        {"sink": "debug.log", "level": "DEBUG"},
    ]
}

log.configure(**CONFIG)
log.enable("metadata")

PATH = "C:/Users/Villoro/Documents/Mega/Videos/03 Final"
# PATH = "D:\Photos\Personal"

In [6]:
dfg = get_all_files_in_path(PATH)
dfg

  0%|          | 0/620 [00:00<?, ?it/s]

2022-05-15 12:27:50.349 | ERROR    | metadata:get_folder_date:42 - Unable to extract data for folder='E:'

C:\Python\Python39\lib\site-packages\exif\_image.py:171: RuntimeWarning: ASCII tag contains -1 fewer bytes than specified
  retval = self.__getattr__(attribute)

2022-05-15 12:33:54.325 | ERROR    | metadata:get_folder_date:42 - Unable to extract data for folder='E:'
2022-05-15 12:33:54.327 | ERROR    | metadata:get_folder_date:42 - Unable to extract data for folder='E:'
2022-05-15 12:33:54.329 | ERROR    | metadata:get_folder_date:42 - Unable to extract data for folder='E:'

                     path folder_date  updated  total
0                               False        0      0
1                    1932        1932        6      7
2                    1934        1934        4      4
3                    1940        1940        2      2
4                    1948        1948        2      2
..                    ...         ...      ...    ...
605  2022\2022_04_17 Mona  2022:04:17        8      8
606  2022\2022_06_01 Reis  2022:06:01        0      2
607        Fotos muntatge       False        0      0
608                  todo       False        0      0
609      tt confirma data       False        0      0

[610 rows x 4 columns]

# Explore results

In [9]:
df = dfg[dfg["folder_date"] == False].copy()

In [16]:
df

                                path folder_date  updated  total
0                                          False        0      0
39                    2003\Campas 03       False        0      0
40            2003\excurció conjunta       False        0      0
41                2003\excursio gaià       False        0      0
42            2003\excursió a begues       False        0      0
..                               ...         ...      ...    ...
632       2021\2021_09 Gommone\Gopro       False        0      0
633     2021\2021_09 Gommone\Villoro       False        0      0
638       2021\2021_12 Finland\Arnau       False        0      0
639       2021\2021_12 Finland\Gopro       False        0      0
647  2022\2022_02 Domusnovas\Villoro       False        0      0

[509 rows x 4 columns]

In [11]:
mask = (dfg["folder_date"] == False) & (dfg["total"] == 0)
dfg[~mask].shape, dfg.shape

((606, 4), (610, 4))

# Fix stuff

In [3]:
path_todo = f"{PATH}/2013"
dfg = get_all_files_in_path(path_todo, verbose=True)
dfg

  0%|          | 0/22 [00:00<?, ?it/s]

,base_path,folder,folder_date,file,to_update
0,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,2013 Varies,2013,-Foto 12.jpg,True
1,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,2013 Varies,2013,2013_01_06 - Xavier i Berta.jpg,False
2,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,2013 Varies,2013,2013_01_06 -Xavier Sofà.jpg,False
3,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,2013 Varies,2013,2013_02_05 - 16 Berta (1).jpg,False
4,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,2013 Varies,2013,2013_02_05 - 16 Berta (2).jpg,False
...,...,...,...,...,...
290,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,2013_12_31 - Cap d'Any,2013:12:31,IMG_20140101_004408.jpg,True
291,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,Festa Major,2013,IMG_2318.jpg,False
292,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,Festa Major,2013,IMG_2319.jpg,False
293,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,Festa Major,2013,IMG_2320.jpg,False
294,C:/Users/Villoro/Documents/Mega/Videos/03 Fina...,Festa Major,2013,IMG_2322.jpg,False

In [35]:
df["files"].tolist()[0]

['2014_06_28 - Tornada de Canadà (2).jpg',
 '2014_06_28 - Tornada de Canadà (3).jpg',
 '2014_06_28 - Tornada de Canadà (4).jpg',
 '2014_06_28 - Tornada de Canadà (5).jpg']

In [36]:
dfg = get_all_files_in_path(path_todo , dry_run=False)
dfg[dfg["updated"] > 0]

  0%|          | 0/12 [00:00<?, ?it/s]

                           path folder_date  updated  total
4    2014_06 Berta torna a casa     2014:06        4      4
5  2014_07 Londres mare i filla     2014:07       16     40